.Logo{
    width: 70px;
}
.cabsAlho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#cabssalh{
    transition: 0.9s;
    background: rgba(66,139,131,70%);
    border-style: none;
}
